<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "2021_trailblazer_masthead_1.jpg", class:"d-block w-100", alt:"2021 Trailblazer" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "2021_trailblazer_masthead_2.jpg", class:"d-block w-100", alt:"2021 Trailblazer" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "2021_trailblazer_masthead_3.jpg", class:"d-block w-100", alt:"2021 Trailblazer" %>
    </div>
  </div>
</div>